<p-contextMenu #cm [model]="items"></p-contextMenu>
<!-- <p-table 
        [columns]="cols" 
        [value]="listaPacientes" 
        selectionMode="single" 
        [(selection)]="selected" 
        (onRowSelect)="seleccion($event)"
        [contextMenu]="cm"
        [(contextMenuSelection)]="selected"
        dataKey="dni"
        [paginator]="true">
    <ng-template pTemplate="caption">
        Lista de Pacientes
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body"  let-columns>
        <tr >
            <td *ngFor="let col of columns">
                {{col.header}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
        <tr>
            <td *ngFor="let col of columns">
            {{col.header}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        Hay {{listaPacientes?.length}} pacientes
    </ng-template>
</p-table> -->
<p-table [value]="listaPacientes"
         [columns]="cols"
         [(contextMenuSelection)]="selected"
         [contextMenu]="cm"
         selectionMode="single"
         (onRowSelect)="seleccion($event)"
         dataKey="id"
         >
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr [pContextMenuRow]="rowData">
            <td>
                {{rowData.nombre}}
            </td>
            <td>{{rowData.apellido}}</td>
            <td>
                {{rowData.dni}}
            </td>
        </tr>
    </ng-template>
</p-table>